{% extends 'security/security_base.html.twig' %}

{% block title %}
    Вход!
{% endblock %}

{% block form %}

    {% if app.user %}
        <div class="mb-3">
            Вы уже авторизованы {{ app.user.username }} ({{ app.user.email }}), <a href="{{ path('app_logout') }}">Выход</a>
        </div>
    {% else %}

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {{ form_start(loginForm, { attr: { class: 'form-signin'} }) }}

            {{ form_row(loginForm.email) }}

            {{ form_row(loginForm.password) }}

            <div class="mb-3">
                {{ form_widget(loginForm._remember_me) }}
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Вход</button>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            {{ form_end(loginForm) }}

            <hr class="my-4">

            <div class="text-center"><a href="{{ path('app_register') }}">Регистрация</a></div>

            <hr class="my-4">

            <div class="text-center"><a href="{{ path('app_forgot_password_request') }}">Забыли пароль</a></div>

    {% endif %}

{% endblock %}
