{% extends 'articles/base.html.twig' %}

{% block title %}
    Сгенерировать статью!
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-xl-6">

            {% for flashMessage in app.flashes('article_error') %}
                <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
            {% endfor %}

            {% block form %}

                {{ form_errors(articleForm) }}

                {{ form_start(articleForm) }}

                <div class="form-group">

                    {{ form_label(articleForm.theme) }}

                    {{ form_widget(articleForm.theme) }}

                    {{ form_help(articleForm.theme) }}

                    {{ form_errors(articleForm.theme) }}

                </div>

                {{ form_row(articleForm.title) }}

                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Ключевое слово</p>

                        {{ form_row(articleForm.keyword) }}

                        {{ form_row(articleForm.keyword_1) }}

                        {{ form_row(articleForm.keyword_2) }}

                        {{ form_row(articleForm.keyword_3) }}

                        {{ form_row(articleForm.keyword_4) }}

                        {{ form_row(articleForm.keyword_5) }}

                        {{ form_row(articleForm.keyword_6) }}

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {{ form_row(articleForm.sizeFrom) }}
                    </div>
                    <div class="col">
                        {{ form_row(articleForm.sizeTo) }}
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Продвигаемые слова</p>

                        <div class="promotedWords"
                             data-prototype="{{ form_widget(articleForm.promotedWords.vars.prototype)|e('html_attr') }}">

                        </div>
                        <button type="button" class="btn btn-xs btn-primary add_item_link"
                                data-collection-holder-class="promotedWords">
                            Добавить
                        </button>
                    </div>
                </div>

                <div class="form-group">

                    {{ form_label(articleForm.images) }}

                    {{ form_widget(articleForm.images, { 'attr': {'style': 'opacity: 1'} }) }}

                </div>

                {{ form_rest(articleForm) }}

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Создать</button>

                {{ form_end(articleForm) }}

            {% endblock %}

        </div>
    </div>

    <hr>

    <h2 class="mt-4">Ваша статья</h2>

    <hr>


    <div class="row">

        <div class="col-xl-6">

            <h1 class="mt-4">Тестовая статья</h1>
            <div class="media">
                <img class="mr-3" src="https://via.placeholder.com/250x250" width="250" height="250" alt="">
                <div class="media-body">
                    <p>Lorem Ipsum <b>EXAMPLE</b> dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.</p>
                    <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. <b>EXAMPLE</b> Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore <b>EXAMPLE</b> magna <b>EXAMPLE</b> aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex <b>EXAMPLE</b> ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-sm-6">
                    <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit <b>EXAMPLE</b>, sed do eiusmod
                        tempor incididunt ut labore et dolore magna <b>EXAMPLE</b> aliqua. </p>
                    <p>Lorem Ipsum dolor sit amet, consectetur <b>EXAMPLE</b> adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore <b>EXAMPLE</b> magna <b>EXAMPLE</b> aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <b>EXAMPLE</b>
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                    <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad <b>EXAMPLE</b> minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.</p>
                </div>
                <img class="ml-3" src="https://via.placeholder.com/250x250" width="250" height="250" alt="">
            </div>

            <h3>Eheu, domina!</h3>
            <p><b>EXAMPLE</b> Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>

{% endblock %}

